.container {
    margin-bottom: 11px;
    .buttons {
        display: flex;

        div {
            padding-right: 10px;
        }
    }

    .progress_container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;
        cursor: pointer;
        height: fit-content;

        .title_time {
            display: flex;
            justify-content: space-between;

            .title {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                float: left;
            }

            .time {
                float: right;
            }
        }

        .progress_full {
            position: relative;
            width: 100%;
            background-color: lightgray;
            height: 4px;

            .progress {
                position: absolute;
                top: 0;
                left: 0;
                width: 0%;
                background: gray;
                height: 100%;
            }

            .time_line {
                position: absolute;
                top: 0;
                left: 0;
                width: 0%;
                background: darkslategray;
                height: 100%;
                z-index: 10;
            }
        }
    }
}

.volume {
    height: 70px;
}
