.container {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .buttons {
        display: flex;
        justify-content: space-between;

        div:nth-child(n + 2) {
            padding-left: 10px;
        }
    }

    .image {
        text-align: center;
        display: flex;
        align-items: center;
        min-height: 0;

        img {
            max-width: 100%;
            max-height: 100%;
            margin: auto;
        }
    }
}

.volume {
    width: 70px;
}
