.cell_wrapper {
    width: 100%;
    height: 100%;
    padding: 1px;
    cursor: pointer;

    .cell {
        display: flex;
        border: 1px;
        flex-direction: column;
        width: 100%;
        height: 100%;
        user-select: none;

        .thumbnail {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            object-position: bottom;
            flex-shrink: 0;
            margin: auto;
        }
    }
}
