.container {
    width: 100%;
    height: 100%;

    .mode {
        width: 100%;
        height: calc(100% - 22px);
    }

    .footer {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .file_name {
            flex-grow: 1;
            text-align: center;
        }
    }
}

.hidden {
    display: none;
}
