.form {
    .url_path {
        width: 100%;

        :global {
            .ant-form-item-control-input-content {
                display: flex;

                input {
                    margin-right: 3px;
                }
            }
        }
    }
}
