.container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    div:nth-child(1) {
        flex-grow: 1;
        text-align: left;
        min-width: 0;
        word-break: break-word;
    }

    div:nth-child(2) {
        min-width: 70px;
        text-align: right;
    } 

    div:nth-child(3) {
        padding: 5px;
    }    

    div:nth-child(4) {
        min-width: 70px;
    } 
}