.container {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;

    :global {
        .ant-btn:nth-child(2),
        .ant-tooltip-disabled-compatible-wrapper:nth-child(2),
        .ant-btn:nth-child(4),
        .ant-btn:nth-child(7) {
            margin-left: 10px;
        }
    }
}
