.cell_wrapper {
    width: 100%;
    height: 100%;
    padding: 1px;
    cursor: pointer;    

    .cell {
        display: flex;
        border: 1px;
        flex-direction: column;
        padding: 5px 0px 0 0px;
        width: 100%;
        height: 100%;
        user-select: none;        

        .thumbnail {
            max-width: 100%;
            object-fit: contain;
            object-position: bottom;
            flex-shrink: 0;
        }

        .name {
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            text-align: center;
            line-height: 17px;
            height: 68px;
        }

        i {
            text-align: center;
            width: 100%;
            margin-top: 20%;
        }

        svg {
            display: block;
            margin-left: auto;
            margin-right: auto;
            min-height: 34%;
        }
    }

    .selected {
        background: #accef7;
    }
}
