.playlist {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .items {
        overflow: auto;
        height: 100%;

        .list {
            width: 100%;
            outline-width: 0;
        }
    }

    .footer {
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .buttons {
            display: flex;
            white-space: nowrap;

            div {
                padding-right: 10px;
            }
        }

        .counters {
            text-align: center;
        }
    }
}
