.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .panel {
        width: 100%;
    }
}

.video {
    width: 100%;
    height: 100%;
    margin-top: 7px;

    video {
        width: 100%;
        height: 100%;
    }
}
