.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    :global {
        label {
            margin-right: 2px;
        }
    }

    > div:nth-child(1) {
        flex-grow: 1;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .title {
            padding: 3px;
            cursor: pointer;
        }
    }

    > div:nth-child(2) {
        text-align: right;
    }
}

.active {
    div {
        > span {
            background-color: #accef7;
            caret-color: transparent;
        }
    }
}
