.form_container {
    width: 100%;
    height: 100%;

    .card {
        width: 100%;
        height: 100%;

        .title {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            min-height: 2.5rem;
            margin-bottom: 0.5em;

            .title_space {
                flex-grow: 1;
            }
        }

        .app_content {
            width: 100%;
            height: calc(100% - 3em);
            overflow: auto;
        }
    }
}
