.container {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;

    > div:first-child {
        display: flex;
        align-items: center;
    }

    .editable_row {
        :global {
            .ant-form-item-explain {
                position: absolute;
                top: 100%;
                font-size: 12px;
            }
        }
    }

    .actions {
        margin-right: 5px;

        a {
            margin-right: 5px;
        }
    }

    .form {
        overflow: auto;
        height: 100%;
    }

    .password_cel {
        :global {
            .ant-tag {
                width: 35px;
                text-align: center;
            }
        }

        button {
            padding: 0;
        }
    }
}
