.share_table {
    :global {
        .ant-form-item {
            margin-bottom: 0px;
        }
    }

    :global {
        .ant-input {
            border: none;
            background-color: inherit;
        }

        .ant-input:focus {
            background-color: #ffff;
        }
    }

    .url_enabled_cell {
        :global {
            .ant-tag {
                width: 35px;
                text-align: center;
            }
        }
    }
}
