.container {
    width: 100%;
    height: 100%;
    overflow: auto;

    :global {
        .ant-table-wrapper {
            height: 100%;
            .ant-spin-nested-loading {
                height: 100%;
                overflow: auto;
                .ant-spin-container {
                    height: 100%;
                    overflow: auto;
                    .ant-table {
                        height: 100%;
                        overflow: auto;
                        .ant-table-container {
                            height: 100%;
                            overflow: auto;
                            .ant-table-content {
                                height: 100%;
                                overflow: auto !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .editable_row {
        :global {
            .ant-form-item-explain {
                position: absolute;
                top: 100%;
                font-size: 12px;
            }
        }
    }

    .actions {
        margin-right: 5px;

        a {
            margin-right: 5px;
        }
    }

    .table {
        :global {
            .ant-form-item {
                margin-bottom: 0px;
            }
        }

        .url_enabled_cell {
            :global {
                .ant-tag {
                    width: 35px;
                    text-align: center;
                }
            }
        }
    }
}
