.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    :global {
        .ant-btn-group {
            button {
                height: fit-content;
            }
        }

        .ant-card-bordered {
            border: 1px solid lightgray;
        }
    }

    .content {
        flex-grow: 1;
        overflow: auto;

        :global {
            .react-resizable-handle {
                width: 4vh;
                height: 4vh;
            }
        }
    }
}
