.container {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;

    :global {
        .ant-btn:nth-child(3) {
            margin-left: 10px;
        }
    }

    .buttons {
        display: flex;
    }

    .footer {
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .buttons {
            display: flex;
            white-space: nowrap;

            div {
                padding-right: 10px;
            }
        }

        .counters {
            text-align: center;
        }
    }
}
